body{
    margin: 0;
    padding: 0;
}

.main_div{
    background-image: url(login_interface.png);
    background-position: center;
    background-size:cover ;
    height: 100vh;
}

.text{
    position: absolute;
    top:58vh;
    left:48vw;
}
a{
   
    font-size: 4rem;
    color: white;
    text-decoration: none;
    
}

